*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
}
header{
    background-color: rgb(38, 37, 37);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 70px;
    width: 70px;
    padding: 10px 0;
    margin-left: 100px;
}
nav ul{
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 12px 16px;
}
nav ul li a:hover{
    font-weight: 700;
    text-decoration: underline;
}
#designer{
    background-color:#f2baf4;
    margin: 0 auto;
}
#designer img{
    max-width: 250px;
    margin-left:41%;
    padding-top: 35px;
    border-radius: 50%;
}
#pics{
    background-color:#f3ece0;
}
#pics h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0 28%;
    padding-top: 24px;
    padding-bottom: 12px;
}
#pics img{
    max-width: 500px;
    margin: 0 500px;
}
.intro{
    background-color: rgb(4, 71, 86);
    padding: 50px 20px;
}
.intro p{
    margin: 0 200px;
    color: rgb(225, 223, 223);
    padding: 0 16px 50px 16px;
    line-height: 24px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.intro h2{
    margin: 0 450px;
    font-size: 32px;
    font-weight: 600;
    padding: 16px;
    color: white;
}
#sec1{
    width: 90%;
    background-color: whitesmoke;
    margin: 0 auto;
    padding-bottom: 30px;
}
#sec1 h2{
    color: black;
    margin: 0 45%;
}
.projects{
    display: flex;
    flex-direction: row;
    margin: 20px
}
.work img{
    height: 300px;
    width: 400px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.work a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    margin-left: 10px;
    padding: 10px;
}
.work a:hover{
    font-weight: 700;
    border: 2px solid black;
    background-color: cornsilk;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#behance{
    padding: 30px;
    margin-left: 40%;
    margin-right: 35%; 
}
#behance a{
    padding: 16px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
}
#behance a:hover{
    background-color: black;
    color: white;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}
#button{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
#button h3{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
}
#button p{
    padding-bottom: 16px;
    color: black;
}
.formcontainer{
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    position: relative;
}
#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 20px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  #contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px 'Merriweather', serif;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
